.form{

    &__group{

        &:not(:last-child){
            margin-bottom: 2rem;
        }
    }

    &__input{
        font-size: 1.5rem;
        font-family: inherit;
        padding: 1.5rem 2rem;
        border-radius: .2rem;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: .3rem solid transparent;
        display: block;
        width: 90%;
        color: inherit;
        transition: all .3s;

        @include respond(tab-port){
            width: 100%;
        }

        &::-webkit-input-placeholder{
            color: $color-grey-dark;
        }
        
        &:focus:invalid{
            border-bottom: .3rem solid $color-secondary-dark;
        }

        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: .3rem solid $color-primary;
        }
    }

    &__label{
        font-size: 1.3rem;
        margin-left: 1.9rem;
        margin-top: .7rem;
        display: block;
        font-weight: 700;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group{
        width: 45%;
        display: inline-block;

        @include respond(tab-port){
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &__radio-label{
        font-size: 1.6rem;
        cursor: pointer;
        position: relative;
        padding-left: 4.5rem;
    }

    &__radio-button{
        height: 3rem;
        width: 3rem;
        border: .5rem solid $color-primary;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: -.4rem;

        &::after{
            height: 1rem;
            width: 1rem;
            content: "";
            display: inline-block;
            border-radius: 50%;
            background-color: $color-primary;
            opacity: 0;
            transition: all .3s;

            @include center;
        }
    }

    &__radio-input{
        opacity: 0;
    }

    &__radio-input:checked ~ &__radio-label  &__radio-button::after{
        opacity: 1;
    }

    &__btn{
        font-size: 1.5rem;
        padding: 1rem 2.5rem;
        border-radius: 3rem;
        margin-top: 4rem;
        cursor: pointer;
        transition: all .3s;
        text-transform: uppercase;
        border: none;

        &:hover{
            background-color: $color-white;
            color: $color-primary;
            border: .1rem solid $color-primary;
        }
    }
}